
.bt-imgsave {
  cursor: pointer;
}

/* input.ng-valid.ng-dirty {
  background-color: $brand-success;
}

input.ng-invalid.ng-dirty {
  background-color: $brand-danger;
} */



.offset-no-label{
}


input[type="checkbox"]{
  -webkit-appearance: checkbox;
}

input[type=radio] {
  -webkit-appearance: radio;
}

select{
  -webkit-appearance: menulist;
}