/**
 * Helper Styles
 */

.margin-0 {
	margin: 0;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.margin-top-0 {
	margin-top: 0;
}
.margin-top-8 {
	margin-top: 8px;
}
.margin-top-15 {
	margin-top: 15px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.text-align-center {
	text-align: center;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.row-alt {
	margin-left: 0px;
	margin-right: 0px;
}

.clear-both {
	clear: both;
}

.green {
	color: green;
}
